*{
    margin: 0;
    padding: 0;
}

body{
    background-color: navy;
}

.container{
    position: absolute;
    top: 50%;
    left: 55%;
    width: 800px;
    transform: translate(-50%,-50%);
    perspective: 1200;
    display: flex;
    flex-wrap: wrap;
}

.container:hover .card{
    transform: rotateY(-180deg);
}

.card{
    padding: 1%;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.front, .back{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.front{
    background: url(../assets/css.png) no-repeat center;
}

.back{
    background: url(../assets/js.jpg) no-repeat center;
    transform: rotateY(-180deg);
}
